<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">Weather</p>
        <nav class="nav justify-content-center">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/about">ABOUT</a>
          <a class="nav-link" href="/help">Help</a>
        </nav>
    </div>
</div>